:root{
 --color-white: hsl(0, 0%, 100%);
--light-pink: hsl(275, 100%, 97%);
--grayish-purple: hsl(292, 16%, 49%);
--dark-purple: hsl(292, 42%, 14%);
}
@font-face {
    font-family: "baba";
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
}

body,html{
    padding: 0;
    margin: 0;
    height: 100vh;
    
}
.main{
    font-family: "baba";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--light-pink);
    background-image: url(./assets/images/background-pattern-mobile.svg);
     background-position: top center;
    background-attachment: fixed;
     background-repeat: no-repeat; 
     background-size: contain;
    
}
.article{
    font-size: 10px;
    margin: 1.6rem;
    padding: 1.6rem;
    background-color: var(--color-white);
    width: 95%;
    border-radius: 15px;
    box-shadow: 0px 30px 100px -50px black ;
}
hr{
    margin: 0.5rem;
     background-color: rgb(150, 149, 149);
      
}
.answer{
    display: none;
    
}
.heading{
    font-size: 15px;
    display: flex;
    /* align-items: center; */
    gap :30px;
}
.question {
 
    display: flex;
    justify-content:space-between ;
    align-items: center;
    cursor: pointer;
}


.plus-minus.open {
    background: url(./assets/images/icon-minus.svg)no-repeat;
    transition: 0.3 ease;
}
.plus-minus{
    border: 0;
    height: 30px;
    width: 30px;
    background: url(./assets/images/icon-plus.svg) no-repeat;
    background-size: cover;
    transition: 0.3 ease;
    cursor: pointer;
}

@media (min-width:650px) {
   .article{
       max-width: 500px;
} 
 
}