.oneCard{
    color: black;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 4px;
    cursor: pointer;
    list-style: none ;
}

.type-li{
    padding: 0.3rem 1.4rem; 
    margin: 0.4rem;
    background-color: rgb(240, 255, 255, 0.3);
    border-radius: 12px;
    width: fit-content;
}

